params {
  samples = 'samples.csv'
  outdir  = 'results'
  trim    = true
}

profiles {
  // Use one of these with: -profile conda  OR  -profile docker

  conda {
    conda.enabled = true
    process {
      withName:FASTP   { conda = 'bioconda::fastp=0.23.4' }
      withName:FASTQC  { conda = 'bioconda::fastqc=0.12.1' }
      withName:MULTIQC { conda = 'bioconda::multiqc=1.21' }
    }
  }

  docker {
    docker.enabled = true
    process {
      withName:FASTP   { container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0' }
      withName:FASTQC  { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0' }
      withName:MULTIQC { container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0' }
    }
  }
}